.gitattributes export-ignore
.github/** export-ignore
.gitignore export-ignore
.helix/** export-ignore
.htmlvalidate.json export-ignore
.htmlvalidateignore export-ignore
.prettierignore export-ignore
bin/** export-ignore
hunspell/** export-ignore
Procfile export-ignore
Makefile export-ignore
README.md export-ignore
package-lock.json export-ignore
package.json export-ignore
site/** export-ignore
