.lines,
.linesdouble {
  background-size: var(--oatcake-body-line-height);
  background-position: left top;
  background-repeat: repeat;
}
.lines {
  background-image: url("lines.svg");
}
.linesdouble {
  background-image: url("linesdouble.svg");
}

/* Remove horizontal scrollbars from <pre> when the guidelines are being shown
 * because they upset the vertical rhythm. */
.lines pre {
  overflow-x: hidden;
}

.columns {
  background-size: var(--oatcake-body-line-height);
  background-position: left top;
  background-repeat: repeat-y;
  background-image: url("columns.svg");
}

.columns aside,
.columns pre,
.columns pre code,
.lines pre,
.lines pre code,
.columns summary {
  background-color: color-mix(
    in srgb,
    var(--ok-color-block-bg) 50%,
    transparent
  );
}

.columns blockquote {
  border-left-color: var(--ok-color-fg);
}
