name: CI
on:
  push:
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Install hunspell
        run: sudo apt-get install --yes hunspell
      - name: Check spelling
        run: bin/spellcheck.sh
      - name: Check formatting
        run: make checkformatting
      - name: Validate
        run: make validate
      - name: Check minification
        run: make minify
